body {
    background-color: #E5E5E5 !important;
    overflow-x: hidden;
}

/*--------- Navbar -------*/
.navbar {
    font-size: 0.9rem;
    /* background: rgba(0,0,0,0.3) !important; */
}

.navbar-brand img {
    height: 3.5rem;
    padding-left: 40px;
}

.navbar-nav li {
    padding-right: 0.7rem;
}
/*--------- End Navbar -------*/

/*--------- Slider -------*/
.carousel-item {
    max-height: 100vh;
    background-color: red !important;
}

.carousel-control-next-icon, 
.carousel-control-prev-icon {
    height: 30px !important;
    width: 30px !important;
}

#overlay {
    background-color: red;
}
/*--------- End Slider -------*/

/*--------- Welcome Section -------*/
#welcome {
    height: 80vh;
    background-color: red;
}

#welcome-text {
    /* padding: 0 100px 0 100px; */
    background-color: green;
}

#welcome-text h1 {
    text-transform: uppercase;
    font-size: 36px;
}

#welcome-text p {
    line-height: 1.5;
    font-size: 18px;
}

#welcome-gallery {
    background-color: #312F2F;
}
/*--------- End Welcome Section -------*/


