body {
    background-color: #E5E5E5 !important;
    overflow-x: hidden;
}

h1 {
    text-transform: uppercase;
    font-family: 'Nunito', 'sans-serif' !important;
    font-weight: 700;
}

hr {
    width: 80%;
    margin: auto;
    border: none;
    background-color: black;
    
}

.text-block h1 {
    font-size: 2em;
}

.text-block p {
    font-family: 'SF Pro Text';
    line-height: 1.7;
    font-size: 1em;
}

.container {
    margin: 50px 0;
}

.vertical-center {
    position: absolute;
    /* background-color: red; */
    top: 50%;
    transform: translateY(-50%);
}



/* #region Hero Section */
#main-slider {
    position: relative;
    background-image: url('../assets/sliderimg/slide1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#main-slider .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

#hero-message {
    position: absolute;
    /* background-color: red; */
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    width: 100%;
}

#hero-message h1 {
    font-family: 'Helvetica' !important;
    font-weight: bold;
    font-size: 100px;
    color: white;
    letter-spacing: -3px;
    animation-delay: 800ms;
}

#hero-message h2 {
    font-family: 'SF Pro Text';
    font-weight: bold;
    font-size: 20px;
    color: white;
    animation-delay: 1200ms;
}

#slider-img {
    display: block;
    width: 100%;
    /* min-height: 100vh; */
}
/* #endregion Hero Section */

/* #region Welcome */
#welcome {
    /* margin: 0 50px; */
}

#welcome-gallery {
    /* padding: 50px; */
}
/* #endregion Welcome */

/* #region Follow */
#follow-us {
    margin-bottom: 50px;
}

#social-row {
    margin-top: 40px;
}

#social-col {
    text-align: right !important;
    /* padding-right: 100px !important; */
}

#social-row a {
    font-size: 35px;
    width: 70px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    line-height: 1.9em;
    border-radius: 50%;
    color: white;
    transition: transform .2s;
    margin-right: 20px;
}

#social-row a:hover {
    transform: scale(1.2);
}

.fa-facebook-f {
    background-color: #4060A5;
}

.fa-instagram {
    background-color: #E1306C;
}

.fa-youtube {
    background-color: #c4302b;
}

.fa-twitter {
    background-color: #00ABE3;
}
/* #endregion Follow */

@media only screen and (max-width: 800px) {
    #hero-message h1 {
        font-size: 3.6rem;
    }

    #hero-message h2 {
        font-size: 1.1rem;
    }

    .vertical-center {
        position: relative;
        top: 40%;
    }
    
    #welcome-gallery {
        padding: 0;
    }
    
    #social-col {
        text-align: left !important;
    }

    #social-row a {
        width: 50px;
        height: 50px;
        font-size: 25px;
        margin-right: 15px;
    }
}

@media only screen and (max-width: 1200px) {
    .navbar-collapse {
        background-color: rgba(0, 0, 0, 0.8);
        padding: 15px;
        border-radius: 20px;
        margin-right: 20px;
    }
}