button {
    font-size: 30px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#prev-btn {
    margin-left: -50px;
}

#next-btn {
    right: 0;
    margin-right: -50px;
}

button:focus {
    outline: none;
}

#content-section {
    background-color: red;
    max-width: 540px;
    position: relative;
    margin-left: 50px;
}

.insta-post {
    max-width: 180px;
}